<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>New Message</string>
	<key>message</key>
	<string>This is a message I&apos;d want users to see when entering the app. With no link provided, the default action should just close the dialog.</string>
	<key>link</key>
	<string></string>
</dict>
</plist>
